.notfound-img {
  width: 500px;
  margin: 0 auto;
  display: block;
}
.notfound-title {
  color: #fdfdfd;
  font-size: 1.27em;
  font-weight: bold;
  text-align: center;
  margin-top: 19px;
}
.notfound-subtitle {
  color: #fdfdfd;
  margin-top: 9px;
  text-align: center;
}
.notfound-info {
  color: #fdfdfd;
  text-align: center;
}

.notfound-back-button {
  display: block;
  margin: 27px auto 9%;
  background: #FE6700;
  border: 1px solid #fdfdfd;
  padding: 5px 30px;
  color: #fdfdfd;
  font-size: 0.9em;
  cursor: pointer;
}
