.program-list {
  display: flex;
  margin-bottom: 3px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.program-item {
  display: flex;
  margin: 0 0 0 9px;
  align-self: center;
  cursor: pointer;
}
.program-item-img {
  width: 248.4px;
  height: 139.725px;
}
.roll-left {
  display: none;

  &.active {
    height: 121px;
    width: 36px;
    float: left;
    color: #fdfdfd;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    padding-left: 15px;
    border-right: 1px solid rgba(253, 253, 253, 0.75);
    opacity: 1;
    transition: opacity 0.4s;
    cursor: pointer;
    z-index: 995;
    margin-top: -128px;
    position: absolute;
  }
}
.roll-right {
  display: none;

  &.active {
    height: 121px;
    width: 36px;
    float: right;
    color: #fdfdfd;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    padding-left: 15px;
    margin-left: auto;
    border-left: 1px solid rgba(253, 253, 253, 0.75);
    opacity: 1;
    transition: opacity 0.4s;
    cursor: pointer;
    z-index: 995;
    left: 100%;
    right: 0;
    margin-top: -128px;
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  .program-item-img {
    width: 216px;
    height: 121.5px;
  }
  .roll-left {
    display: none;

    &.active {
      height: 121.5px;
    }
  }
  .roll-right {
    display: none;

    &.active {
      height: 121.5px;
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cecece; 
  width: 3px;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cecece; 
}