.about-us-logo {
  width: 270px;
  margin: 0 auto 19px;
  position: relative;
  display: block;
}
.about-us-info {
  padding: 15px;
  color: #fdfdfd;
  text-align: justify;
  max-width: 550px;
  margin: 0 auto;
  display: block;
}
.about-us-t2 {
  margin-top: 19px;
  font-size: 1.3em;
  text-align: center;
}
.about-us-contact {
  background: #FE6700;
  border: 1px solid #fdfdfd;
  padding: 5px 30px;
  color: #fdfdfd;
  font-size: 1em;
  cursor: pointer;
  margin: 27px auto;
  display: block;
}
