.home-programs {
  padding-left: 9px;
  color: #fdfdfd;
  font-size: 1.19em;
  font-weight: bold;
  margin-bottom: 9px;
}
.program-block {
  margin-top: 27px;
}
.lounge-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 19px;
}
.subscribe-link {
  top: 54px;
  position: fixed;
  background: grey;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
  border-bottom: #eeeeee;
  z-index: 997;
  color: #fdfdfd;
  height: 27px;
  line-height: 27px;
}

.cursor {
  margin-left: 7px;
  cursor: pointer;
  margin-top: 4px;
  position: relative;
}

@media screen and (max-width: 350px) {
  .home-programs {
    font-size: 0.9em;
  }
  .subscribe-link-description {
    font-size: 0.9em;
  }
}
